.post-content .tags
    margin-top rem(30px)
    padding 0!important
    a
        font-size rem(16px)
        color main
        display inline-block
        border 1px solid main
        border-radius rem(5px)
        padding rem(4px) rem(10px)
        margin-right rem(2px)
        margin-bottom rem(8px)
        text-decoration none
        text-transform lowercase
        font-weight normal
        &:hover
            color darken(lightGray, 20%)
            border 1px solid darken(lightGray, 20%)

.img-rounded
    border-radius 50%